@import "../assets/theme";

.lessonsContainer {
    margin: 20px;
}

// styles the set of boxes under each lesson
.questionGallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 5px 0;
}

// the boxes under each lesson TBD pls delete after
#staticBox {
    width: 200px;
    height: 350px;
    margin-right: 21px;
    border-radius: 16px;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    background-color: $light-yellow;
    padding: 0px 20px;
}

.lessonRow {
    margin-top: calc(20px + 5vh);
    display:flex;
    flex-direction:row;
}

// styles each lesson, title included
.lessonInList {
    margin: 20px 0px 30px 0px;
    color: $dark-yellow;
}

.staticBox:hover {
    cursor: pointer;
} 
// hello 