@import "../assets/theme";

.startContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 20px 0;
}

.bannerContainer {
    display:inline-flex;   
    position: relative;
}

.lessonBanner {
    z-index: -1;
    width: 75vw;
    max-width: 1000px;
}

.bannerTitle {
    z-index:0;
    position: absolute;
    top: 50px;
    left: 40px;
    font-weight: bold;
    font-size: 48px;
    color: white;
}

.lessonDetails {
    margin-top: calc(20px + 5vh);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 75vw;
}

.socialDetails {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.socialTitle {
    font-weight: 600;
    font-size: 24px;
    color: $gray;
}

.countText {
    font-size: 12px;
    color: $gray;
    text-align:center;
    margin-top: 50px;
}

.friendBlock, .countBlock { 
    border-radius: 16px;
    border: 2px solid $light-gray;
    margin: 0 20px;
    padding: 15px;
}

.friendBlock {
    display:flex;
    flex-direction:column;
    height: 275px;
    justify-content: space-between;
}

#classmatePic {
    margin-right: 20px;
}

.classmateName {
    font-weight: 600;
    font-size: 24px;
    color: $dark-gray;
}

.countBlock {
    height: 200px;
}

.startBlock {
    background-color: $light-yellow;
    width: 600px;
    height: 600px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: $dark-yellow;
}

.lessonNumber {
    margin-top: 6px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.lessonTitle{
    margin-top: 6px;
    font-weight: 600;
    font-size: 36px;
}

.lessonSubtitle {
    margin-top: 33px;
}

.startButton {
    margin-top: 30px;
    padding: 10px 27px 16px 27px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border-radius: 16px;
    background-color: $light-blue;
}

.startButton:hover {
    cursor:pointer;
    background-color: darken($light-blue, 20%);
}

.classmateRow {
    display:flex;
    align-items: center;
}

.playground {
    margin-top: 50px;
    width: 75vw;
    max-width: 1000px;
}