@import "../assets/theme";

.background {
    width: 200px;
    height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $pale-blue; // TBD change as needed theme
    position: fixed;
    box-shadow: 4px 0px 6px 0px rgba(153, 153, 153, 0.25);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.07em;
}

.profileButton {
    display:flex;
    justify-content: center;
    padding: 3px 12px 6px 12px;
    border: 1px solid $gray;
    border-radius: 20px;
    align-items:center;
    margin-top: 12px;
}

.profileButton:hover {
    cursor: pointer;
    background-color: lighten($gray, 35%);
}

.navigationStack {
    display:flex;
    flex-direction: column;
    margin-top:12px;
    font-size: 18px;
}

.navLink {
    margin: 10px 0px;
    padding: 5px 12px 8px 12px;
}

.navLink:hover {
    background-color: $light-yellow;
    cursor: pointer;
    border-radius: 20px;
}

#avatar {
    width: 100px;
    height: 100px;

}

#navLine {
    height: 4px;
    width: 155px;
    margin-top: 28px;
    background-color: $light-orange;
}