.App {
  text-align: center;
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: row;
}

.main {
  margin-left: 200px;
  display: flex;
  flex-grow: 1;
}

p {
  text-align:center;
  flex-grow: 1;
  font-size:50px; 
/* TBD the font size */
}